*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: #6366f1;
  color:white;
}

nav {
  
  padding :2rem;
  height:100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav h3{

  font-size: 25px;
}

.strapiOptions{

  list-style: none;
  display: flex;
  gap:1.5rem;
}

.strapiOptions li{
  font-size: 20px;
  text-transform: capitalize;
}

.menuButton{
  font-size: 34px;
  color: white;
  background-color: transparent;
  border: transparent;
  display:none;
}

.heroSection{
  
  width:70%;
  height:60vh;

  margin:auto auto;
  text-align: center;

  display: flex;
  gap:20px;
 flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroSection h1{
  font-size: 50px;
  text-transform: capitalize;
}
.sidebar{

  position:absolute;
  top:0;
  right:0;
  width:50%;
  height:100%;
  background-color: white;
  color:rgb(16, 16, 81);
  padding: 1.5rem;
  display:flex;
  flex-direction: column;
  gap:20px;
  
}

.sidebar div p{
  text-transform: capitalize;
  font-size: 22px;
  margin-bottom: 5px;
}

.icons a{

  text-decoration: none; 
  margin-right: 30px;
  display: flex;
  align-items: center;
  gap:10px;
 color:rgb(31, 31, 82)
  
}

.sidebarButton{

  position:absolute;
  top:20px;
  right:20px;

  font-size: 25px;
  background-color: transparent;
  border: transparent;

}

.submenu{
  position: absolute;
  top:5rem;
  right :7rem;
  
  height :20vh;
  width: 80%;
  padding:20px;
  background-color: white;
  color:rgb(31, 31, 82) ;
}

.hideSubmenu{
  display:none
}





@media screen and (max-width:767px) {


  nav{
    justify-content: space-between;
  }
  .menuButton{
    display:block;
  }

  .strapiOptions{
    display:none;
  }

  
  
}

